<div class="row justify-content-center">
    <div class="col">
      <h1>Shogo Miyagi</h1>
      <h1>宮城 翔梧</h1>
    </div>
    <div class="col">
      <h1>Web Developer</h1>
      <img src="shogo.jpg" alt="shogo">
    </div>
</div>